* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 550px 200px 50px 50px;
  grid-template-areas:
    "hero hero hero hero"
    "pic-1 pic-2 pic-3 pic-4"
    "footer footer footer footer";
}

.hero {
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  color: whitesmoke;
  font-size: 0.9em;
  text-align: center;
  grid-area: hero;
}

.hero h1 {
  font-size: 5em;
  font-weight: 100;
  margin: 0 20%;
}

.hero h4 {
  font-size: 2em;
  font-weight: 100;
  margin: 20px 20%;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
}

li > a {
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

li > a:hover {
  text-decoration: none;
}

.hero h3 > a {
  font-size: 1.5em;
  font-weight: 100;
  margin: 0 20%;
  text-decoration: none;
  color: white;
}

.hero h3 > a:hover {
  font-size: 1.5em;
  font-weight: 100;
  margin: 0 20%;
  text-decoration: underline;
  color: white;
}

nav {
  background: linear-gradient(0deg, #9c9c9c, #424242);
  display: flex;
  justify-content: space-around;
  border-radius: 6px;
  height: 35px;
  align-items: center;
  list-style-type: none;
  width: 70%;
  margin: 80px auto;
  grid-area: nav;
}

.nav-bar-button {
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  height: 35px;
  width: 100px;
  margin: 0;
  border-right: 1px solid #6b6b6b;
  text-shadow: rgb(87, 87, 87) -1px -1px;
}

li i {
  font-size: 1.5em;
  text-shadow: rgb(87, 87, 87) -1px -1px;
}

li:hover {
  background-color: #424242;
}

#search-bar {
  background: linear-gradient(0deg, #9c9c9c, #424242);
  width: 100px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 0 25px;
  color: #424242;
}

#search-bar:focus {
  background: white;
  width: 140px;
  border-top-right-radius: 12px;
  transition: 0.5s;
  color: #424242;
  text-indent: 20px;
  margin: 0 auto;
}

.input-icon {
  display: inline;
  position: relative;
  margin: auto auto;
}

.input-icon::after {
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  top: 4px;
  left: 5px;
  margin-right: 5px;
  text-align: right;
  border-left: none;
}

.link-picture-1 {
  background-image: url(./images/iphone5s-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: pic-1;
}

.link-picture-2 {
  background-image: url(./images/iphone5c-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: pic-2;
}

.link-picture-3 {
  background-image: url(./images/30years-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: pic-3;
}

.link-picture-4 {
  background-image: url(./images/quality-control-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: pic-4;
}

.footer {
  grid-area: footer;
  font-size: 0.7em;
  text-decoration: none;
  margin-left: 70px;
  margin-top: 10px;
}

#info {
  float: left;
  clear: both;
  margin-right: 100px;
  grid-area: info;
}
